.services-section {
    @media screen and (min-width: 320px) {
        min-width: 100%;
        max-width: 450px;
    }
    @media screen and (min-width: 480px) {
        min-width: auto;
        max-width: none;
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: 736px;
    }
    @media screen and (min-width: 1200px) {
        width: 1168px;
    }
    margin: 0 auto;
    padding-bottom: 100px;
    &__list {
        margin-top: 65px;
        width: 100%;
        @include flex(baseline);
        flex-wrap: wrap;
        @media screen and (min-width: 320px) {
            @include flex(center);
        }
        @media screen and (min-width: 768px) {
            @include flex(space-between);
        }
    }
    &__item {
        @include flex(baseline);
        margin: 0 auto;
        @media screen and (min-width: 320px) {
            width: 300px;
            &:nth-child(n+2) {
                margin-top: 30px;
            }
        }
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            &:nth-child(n){
                margin-top: 0;
            }
            &:nth-child(n+3) {
                margin-top: 30px;
            }
            width: 330px;
        }
        @media screen and (min-width: 1200px) {
            &:nth-child(n){
                margin-top: 0;
            }
            &:nth-child(n+4) {
                margin-top: 100px;
            }
        }
    }
    &__texts {
        margin-left: 20px;
        width: 100%;
    }
    &__name {
        @include text-style('Montserrat',400,14px,1.21,$submain-color);
        text-transform: uppercase;
        width: 100%;
    }
    &__text {
        @include text-style('Roboto',400,15px,1.47,$text-color);
        width: 100%;
        @media screen and (min-width: 768px) {
            margin-top: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 20px;
        }
    }
}