/* header section */
.header-section{
    display: flex;
    height: 62px;
    align-items: center;
    padding-bottom: 68px;
}
.header-nav{
    margin-left: auto;
}
.header-list{
    display: flex;
    justify-content: space-between;
    width: 470px;
}
.header-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    color: #95E1D3;
}
.header-link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #95E1D3;
}
.header-link:hover{
    color: #F38181;
    transition: 0.2s;
}
.header-link::after{
    content: '';
    position: absolute;
    background-color: darkblue;
    margin-top: 15px;
    width: 50px;
    height: 3px;
}

/* services section */
.services-subtitle, .about-subtitle{
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.46;
    color: #333333;
}
.services-title, .about-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    font-variant: small-caps;
    color: #333333;
}
.services-name{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #333333;
}
.services-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    color: #B6B6B6;
}

/* about section */
.about-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #B6B6B6;
}
.about-name{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    font-variant: small-caps;
    color: #333333;
}
.about-pos{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #B6B6B6;
}

/* footer section */
.footer-licens{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #333333;
}
.footer-orange{
    color: #F38181;
}
.footer-field{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #B6B6B6;
}
.footer-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}

.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}